[credential "https://github.com"]
    helper = 
    helper = !$(which gh) auth git-credential
[credential "https://gist.github.com"]
    helper = 
    helper = !$(which gh) auth git-credential
[user]
    name = Máté Czékus
    email = mate@picloud.hu
[includeIf "gitdir:~/Documents/work/"]
    path = .gitconfig-work
[core]
    autocrlf = input
[push]
    autoSetupRemote = true
[init]
    defaultBranch = main
[pull]
    rebase = true
[alias]
    l = log --decorate --date=relative
    s = status -s
    m = merge
    c = commit
    co = checkout
    aa = add --all
    ca = commit --amend
    fp = push --force-with-lease
    call = !git aa && git c -s -m
    dropl = reset --hard HEAD~1
    ignore = update-index --assume-unchanged
